.content{
  margin: 10rem 7rem;
}

header h1{
  position: relative;
  top: 2rem;
  left: 7rem;
  display: inline-block;
  border-bottom: 1px solid lightgrey;
  width: 47%;
}

header h2{
  display: none;
}

header img{
  position: absolute;
  width: 170px;
  left: 47rem;
  top: 3rem;
  height: 160px;
  transform: rotate(353deg);
}

#about h3{
  display: none;
}

#about p{
  position: absolute;
  top: 6rem;
  color: lightgrey;
  width: 32%;
}

.content section:not(:last-child){
  display: flex;
} 

.content h3{
  padding-right: 1px;
}

#experiences{
  display: grid;
}

#competencies {
  display: grid;
  grid-template-areas: 
  'h3 primary'
  'h3 secondary'
  ;
  width: 15%;
}

#competencies h3 {
  grid-area: h3;
  width: min-content;
  padding-right: 10px;
}

#competencies .skills-primary {
  grid-area: primary;
  display: flex;
  margin-top: 1rem;
  border-left: 1px solid;
  padding-left: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}

#competencies .skills-secondary {
  grid-area: secondary;
  display: flex;
  border-left: 1px solid;
  padding-left: 1rem;
  padding-bottom: 2rem;
  align-items: center;
}

.skill span{
  margin-right: 1rem;
  background-color: #008080;
  color: white;
  padding: 5px 5px 5px 5px;
}

.skills-primary [data-skill="5"] span::after {
  content: "★★★";
  padding-left: 17px;
}

[data-skill="3"] span::after {
  content: "★★";
  padding-left: 40px;
}

[data-skill="1"] span::after {
  content: "★";
  padding-left: 76px;
}
.skills-secondary span{
  font-size: smaller;
}
.skills-secondary [data-skill="5"] span::after {
  content: "★★★";
  font-size: 10px;
  padding-left: 46px;
}

[data-skill="9"] span::after {
  content: "★★★★★";
  font-size: 10px;
  padding-left: 24px;

}

[data-skill="7"] span::after {
  content: "★★★★ ";
  padding-left: 64px;
  font-size: 10px;
}

#experiences {
  display: grid;
  grid-template-areas: 
  'h3 primary'
  'h3 secondary'
  ;
}
#experiences h3 {
  grid-area: h3;
  width: min-content;
  border-right: 1px solid;
  margin-right: 10px;
  padding-right: 24px;
}
.experience-details{
  position: absolute;
  top: 0;
  left: 90%;
}

.experience{
  position: relative;
}
#education {
  display: grid;
  grid-template-areas: 
  'h3 primary'
  'h3 secondary'
  ;
}
#education h3 {
  grid-area: h3;
  width: min-content;
  border-right: 1px solid;
  margin-right: 10px;
  padding-right: 36px;
}
#hobbies h3 {
  grid-area: h3;
  width: min-content;
  border-right: 1px solid;
  margin-right: 10px;
  padding-right: 52px;
}

.contacts{
  display: flex;
  justify-content: center;
}

#contact h3 {
  display: none;
}

.contacts dt, 
.contacts dd {
  display: none;
}

.contacts .contact-skype {
  display: none;
}

.contacts .contact-email {
  background-image: url(../images/email.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.contacts .contact-phone {
  background-image: url(../images/phone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.contacts .contact-github {
  background-image: url(../images/github.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.contacts .contact-facebook {
  background-image: url(../images/facebook.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 767px) {
  header img{
    display: none;
  }

  #about p{
    width: 60% !important;
  }

  #competencies {
    display: grid;
    grid-template-areas: 
    'h3'
    'primary'
    'secondary' ;
  }

  #competencies .skills-primary {
    border-left: 0;
  }

  #competencies .skills-secondary{
    border-left: 0;
  } 

  #competencies  h3{
    border-bottom: 1px solid;
  }

  #experiences{
    display: grid;
    grid-template-areas: 
    'h3'
    'experience1'
    'experience2';
  }
  #experiences h3{
    border-right: 0;
    border-bottom: 1px solid;
  }
  .experience-details{
    left: 70%;
  }
  .experience h4 {
    margin-top: 0;
  }
  #education{
    display: grid;
    grid-template-areas: 
    'h3'
    'education1'
    'education2';
  }
  #education h3{
    border-right: 0;
    border-bottom: 1px solid;
  }

  #hobbies{
    display: block;
  }
  #hobbies h3{
    height: auto;
    border-right: 0;
    border-bottom: 1px solid;
  }
  .contacts{
    flex-wrap: wrap;
    gap: 30px;
    justify-content: start;
  }
}

